# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Declare
src/* text=lf
R/* text=lf
# Force eol
configure.ac text eol=lf
# Denote all files that are truly binary and should not be modified.
*.tif binary
*.lcp binary
