# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Declare
src/* text=lf
R/* text=lf
# Force eol
configure.ac text eol=lf
# Denote all files that are truly binary and should not be modified.
*.tif binary
*.lcp binary
# Denote documentation for linguist stats
*.html linguist-documentation
*.xml linguist-documentation
*.json linguist-documentation
*.Rd linguist-documentation
R/gdalraster.R linguist-documentation
R/gdalvector.R linguist-documentation
R/cmb_table.R linguist-documentation
R/running_stats.R linguist-documentation
R/vsifile.R linguist-documentation
# Exclude from stats
configure.ac linguist-vendored
