useDynLib(gdalraster, .registration=TRUE)
import(graphics, grDevices, methods, Rcpp)
importFrom("stats", "quantile")
importFrom("tools", "file_path_sans_ext")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
exportPattern("^[[:alpha:]]+")
