useDynLib(gdalraster, .registration=TRUE)
import(graphics, methods, Rcpp)
importFrom("grDevices", "as.raster", "dev.capabilities", "gray", "rgb")
importFrom("stats", "quantile")
importFrom("tools", "file_path_sans_ext")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
exportPattern("^[[:alpha:]]+")
